@import "../../utils.scss";

.step {
    background-color: white;
    padding: 1rem;
    margin: 0.5rem;
    min-width: 400px;
    max-width: 800px;

    .title {
        font-size: 2rem;
    }

    .header {
        display: flex;
        align-items: center;
        font-size: 1.5rem;

        .number {
            font-size: 2rem;
        }

        .time {
            color: rgba($palette1, 0.5);
        }
    }

    .equipment {
        display: flex;

        .equipment_title {
            font-size: 1.25rem;
        }
        .itemsCont {
            .item {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    max-width: 50px;
                    max-height: 50px;
                }
            }
        }
    }
}
