@import "../../utils.scss";

.home {
    max-width: 100vw;
    padding: 1rem;
    background-color: whitesmoke;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
